<section>
    <div>
        <h3>
            Sign Up
        </h3>
    </div>
    <div>
        <form class="signup-form">
            <div>
                <label for="username-sign-up">Username</label>
                <input type="text" id="username-signup-value" />
            </div>
            <div>
                <label for="email-sign-up">Email</label>
                <input type="text" id="email-signup-value" />
            </div>
            <div>
                <label for="password-sign-up">Password</label>
                <input type="text" id="password-signup-value" />
            </div>
            
                <button type="submit" id="sign-up-button">Sign Up

                </button>

            <a href="/login">Login Instead</a>
        </form>
        
    </div>
</section>
<script src="/javascript/signup.js"></script>