<div class="card">
  <div class="card-header">
    Post Title Goes Here
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Supporting Post Text</p>
    <a href="#" class="btn btn-primary">Maybe link this button to comments</a>
  </div>
</div>